{% extends 'base.html.twig' %} {% block title %}Ajouter une voiture{% endblock
%} {% block body %} {# {{ dump(user) }} #}
<div class="pt-32 p-6 gap-6 flex flex-col items-center font-bold">
  <h1 class="text-2xl">Bonjour, {{ user.firstName }} {{ user.lastName }}</h1>
  <h2 class="text-xl">
    Veuillez remplir le formulaire pour ajouter une voiture à votre profil:
  </h2>
  {{ form_start(form) }}
  <div class="flex flex-col items-center">
    <div class="flex flex-col gap-12">
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.brand.vars.id }}" class="font-medium">Marque</label>
        {{
          form_widget(form.brand, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.model.vars.id }}" class="font-medium">Modèle</label>
        {{
          form_widget(form.model, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.seats.vars.id }}" class="font-medium">Places</label>
        {{
          form_widget(form.seats, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
    </div>
    <button
      type="submit"
      class="btn text-lg text-white bg-black py-2 px-6 rounded-full m-8 border-black border-2"
    >
      Ajouter la voiture
    </button>
  </div>
  {# {{ form_widget(form) }} #}
  {{ form_end(form) }}
</div>
{% endblock %}
