{% extends 'base.html.twig' %} {% block title %}Modifier les informations
utilisateur{% endblock %} {% block body %}
<div class="pt-32 p-6 gap-6 flex flex-col items-center font-bold">
  <h1 class="text-2xl">Bonjour, {{ user.firstName }} {{ user.lastName }}</h1>
  <h2 class="text-xl">
    Veuillez remplir le formulaire pour modifier vos informations:
  </h2>
  {{ form_start(form) }}
  <div class="flex flex-col items-center">
    <div class="flex flex-col gap-12">
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.firstName.vars.id }}" class="font-medium"
          >Prénom</label
        >
        {{
          form_widget(form.firstName, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.lastName.vars.id }}" class="font-medium">Nom</label>
        {{
          form_widget(form.lastName, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.email.vars.id }}" class="font-medium">Email</label>
        {{
          form_widget(form.email, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg font-medium border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.phone.vars.id }}" class="font-medium"
          >Téléphone</label
        >
        {{
          form_widget(form.phone, {
            attr: {
              class:
                "flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
    </div>
    <button
      type="submit"
      class="btn text-lg text-white bg-black py-2 px-6 rounded-full m-8 border-black border-2"
    >
      Confirmer les modifications
    </button>
  </div>
  {# {{ form_widget(form) }} #}
  {{ form_end(form) }}
</div>
{% endblock %}
