{% extends 'base.html.twig' %} {% block title %}Modifier trajet{% endblock %} {%
block body %} {# {{ dump(ride) }} #}

<div class="pt-32 p-6 gap-6 flex flex-col items-center">
  <a class="flex flex-start bg-sky-400 px-2 py-1 rounded-xl text-white" href={{path('app_profile')}}>Revenir à la page profil.</a>
  <h1 class="text-2xl">Bonjour, <span class="font-bold"> {{ user.firstName }} {{ user.lastName }}</span></h1>
  <h2 class="text-xl">
    Veuillez remplir le formulaire pour modifier ce trajet:
  </h2>
  {{ form_start(form) }}
  <div class="flex flex-col items-center">
    <div class="flex flex-col gap-12">
      <div class="text-lg  border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.departure.vars.id }}" class=""
          >Depart</label
        >
        {{
          form_widget(form.departure, {
            attr: {
              class:
                "p-1 flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg  border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.destination.vars.id }}" class=""
          >Destination</label
        >
        {{
          form_widget(form.destination, {
            attr: {
              class:
                "p-1 flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg  border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.seats.vars.id }}" class="">Places</label>
        {{
          form_widget(form.seats, {
            attr: {
              class:
                "p-1 flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg  border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.price.vars.id }}" class="">Prix</label>
        {{
          form_widget(form.price, {
            attr: {
              class:
                "p-1 flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
      <div class="text-lg  border-b-2 flex flex-col mb-4 pb-4">
        <label for="{{ form.date.vars.id }}" class="">Date</label>
        {{
          form_widget(form.date, {
            attr: {
              class:
                "p-1 flex flex-col mt-2 rounded-md border-2 border-black focus:outline-sky-300 focus:bg-white"
            }
          })
        }}
      </div>
    </div>
    <button
      type="submit"
      class="btn text-lg text-white bg-black py-2 px-6 rounded-full m-8 border-black border-2"
    >
      Confirmer les modifications
    </button>
  </div>
  {# {{ form_widget(form) }} #}
  {{ form_end(form) }}
</div>
{% endblock %}
