{% extends 'base.html.twig' %} {% block title %}Profil{% endblock %} {% block
body %}
<div class="pt-32 p-6 gap-6 flex flex-col">
  <h1 class="font-bold text-4xl">Mon profil</h1>
  {# echo user id: {{ dump(userId) }}
  {{ dump(user) }}
  {{ dump(cars) }}
  {{ dump(rides) }} #}

  <div class="flex flex-row flex-wrap gap-12">
    <div class="w-2/5">
      <div class="flex items-center gap-6 mb-10">
        <h2
        class="text-md sm:text-xl font-bold underline underline-offset-[5px] decoration-stone-700 "
        >
        Mes infos
        </h2>
        <a class="cursor-pointer border-2 border-stone-400 text-stone-600 text-sm px-2 py-1 rounded-lg" href={{ path('app_edit_user') }}>Edit</a>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <p
          class="text-md sm:text-lg w-1/2 font-semibold underline decoration-stone-400 underline-offset-[5px]"
        >
          Prénom
        </p>
        <p class="text-md sm:text-lg">
          {{ user.firstName }}
        </p>
      
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <p
          class="text-md sm:text-lg w-1/2 font-semibold underline decoration-stone-400 underline-offset-[5px]"
        >
          Nom
        </p>
        <p class="text-md sm:text-lg">{{ user.lastName }}</p>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <p
          class="text-md sm:text-lg w-1/2 font-semibold underline decoration-stone-400 underline-offset-[5px]"
        >
          Téléphone
        </p>
        <p class="text-md sm:text-lg">{{ user.phone }}</p>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <p
          class="text-md sm:text-lg w-1/2 font-semibold underline decoration-stone-400 underline-offset-[5px]"
        >
          Email
        </p>
        <p class="text-md sm:text-lg">{{ user.email }}</p>
      </div>
    </div>
    <div class="w-full">
      <div class="flex items-center gap-6 mb-10">
        <h2
        class="text-md sm:text-xl font-bold underline underline-offset-[5px] decoration-stone-700 "
        >
        Mes voitures
        </h2>
        <a
        href={{ path('app_add_car') }}
        class="cursor-pointer border-2 border-stone-400 text-stone-600  text-sm px-2 py-1 rounded-lg"
        >
        Ajouter
        </a>
      </div>
      <div class="grid">
        {% for car in cars %}
          <div class="grid grid-cols-5 items-center">
            <div class="flex flex-col gap-4 p-4 mb-4">
              <p
                class="text-md sm:text-lg font-semibold underline decoration-stone-400 underline-offset-[5px]"
              >
                Marque
              </p>
              <p class="truncate w-full text-md sm:text-lg">{{ car.brand }}</p>
            </div>
            <div class="flex flex-col gap-4 p-4 mb-4">
              <p
                class="text-md sm:text-lg font-semibold underline decoration-stone-400 underline-offset-[5px]"
              >
                Modèle
              </p>
              <p class="truncate w-full text-md sm:text-lg">{{ car.model }}</p>
            </div>
            <div class="flex flex-col gap-4 p-4 mb-4">
              <p
                class="text-md sm:text-lg  font-semibold underline decoration-stone-400 underline-offset-[5px]"
              >
                Places
              </p>
              <p class="truncate w-full text-md sm:text-lg">{{ car.seats }}</p>
            </div>
            <div class="flex gap-6">
                <a class="w-10 h-10 flex items-center justify-center border-2 rounded-full p-2" href={{ path('app_edit_car', {'id': car.id}) }}><img class="w-full" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/></a>
                <a class="w-10 h-10 flex items-center justify-center border-2 rounded-full p-2" href={{ path('app_delete_car', {'id': car.id}) }}><img class="w-full" src="https://img.icons8.com/ios-glyphs/30/delete-forever.png" alt="delete-forever"/></a>
            </div>
            </div>
            {% endfor %}
      </div>
      
      
    </div>
    <div class="w-full">
      <div class="flex items-center gap-6 mb-10">
        <h2
          class="text-md sm:text-xl font-bold underline underline-offset-[5px] decoration-stone-700 "
        >
          Mes trajets
        </h2>
        <a
          href={{ path('app_add_ride') }}
          class="cursor-pointer border-2 border-stone-400 text-sm text-stone-600 px-2 py-1 rounded-lg"
          >
          Ajouter
          </a>
      </div>
      {% for ride in rides %}
      <div class="flex flex-col gap-4 p-4 mb-4">
        <p
          class="text-md sm:text-lg font-semibold underline decoration-stone-400 underline-offset-[5px]"
        >
          Trajet ID#{{ ride.id }}
        </p>
        <div class="flex items-center gap-6">
          <div class="flex items-center gap-6 text-md sm:text-lg">
            <p>{{ ride.date|date("d/m/Y") }}:</p>
            <p class="font-bold">{{ ride.departure }}</p>
            <p class="mx-4">-</p>
            <p class="font-bold">{{ ride.destination }}</p>
            <p>{{ ride.price }}€</p>
          </div>
          <div class="flex gap-6">
            <a class="w-10 h-10 flex items-center justify-center border-2 rounded-full p-2" href={{ path('app_edit_ride', {'id': ride.id}) }}><img class="w-full" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/></a>
            <a class="w-10 h-10 flex items-center justify-center border-2 rounded-full p-2" href={{ path('app_delete_ride', {'id': ride.id}) }}><img class="w-full" src="https://img.icons8.com/ios-glyphs/30/delete-forever.png" alt="delete-forever"/></a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
