{% extends 'base.html.twig' %} {% block title %}Trajets{% endblock %} {% block
body %} {# {{ dump(rides[0]) }} {{ dump(users[0].firstName) }} #}
{% include "/components/filtrage_trajets.html.twig" %}
<div class="shiny pt-32 pb-20 text-stone-50">
  {# <div class="w-full flex justify-evenly items-center py-4 bg-white text-black">
    <p>Filter par:</p>
    <a class="flex items-center gap-4" href={{ path('app_trajets', {'order': 'ASC'}) }}>
      <p>Prix croissant</p>
      <img width="20" height="20" src="https://img.icons8.com/ios/30/000000/generic-sorting-2.png" alt="generic-sorting-2"/>
    </a>
    <a class="flex items-center gap-4" href={{ path('app_trajets', {'order': 'DESC'}) }}>
      <p>Prix décroissant</p>
      <img width="20" height="20" src="https://img.icons8.com/ios/50/generic-sorting.png" alt="generic-sorting"/>
    </a>
    <a href={{ path('app_trajets') }}>Supprimer les filtres</a>
  </div> #}
  {% for ride in rides %}
  <div class="flex flex-col items-center">
    <div
      class="card text-white my-4 w-10/12 sm:w-4/5 lg:w-3/5 p-6 flex flex-col sm:flex-row sm:gap-12 sm:justify-center"
    >
      <div
        class="flex flex-col sm:w-1/3 md:w-1/5 justify-center items-center gap-4"
      >
        <img
          class="rounded-full border-2 border-white w-[70px]"
          src="{{ asset('./images/julienfaketete.jpeg') }}"
          alt="ia face"
        />
        <p class="text-md font-bold">{{ ride.driver.firstName }}</p>
      </div>
      <div class="flex-col justify-center items-center">
        <div class="flex items-center justify-between font-bold mb-5">
          <p class="underline">Le {{ ride.date|date("d/m/Y") }}</p>
          <p class="text-lg">{{ ride.price }}€</p>
        </div>
        <div class="flex justify-center gap-4 mb-10">
          <p class="text-lg">
            Départ: <span class="font-bold text-lg">{{ ride.departure }}</span>
          </p>
          <p class="text-lg">
            Arrivée:
            <span class="font-bold text-lg">{{ ride.destination }}</span>
          </p>
        </div>
        <div class="flex justify-center gap-4 text-lg"></div>
        <div class="flex items-center justify-around gap-6">
          {% if ride.seats == 1 %}
          <p class="text-md font-semibold">{{ ride.seats }} place restante</p>
          {% else %}
          <p class="text-md font-semibold">{{ ride.seats }} places restantes</p>
          {% endif %}
          <button
            class="bg-sky-400 text-white border-2 border-gray-300 py-2 px-6 rounded-full text-sm"
          >
            Réserver
          </button>
          <a
            href="/trajets/detail/{{ ride.id }}"
            class="bg-neutral-200 text-black border-2 border-neutral-600 py-2 px-6 rounded-full text-sm"
          >
            Détails
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="flex items-center justify-center h-full gap-24 py-20 text-md font-bold">
  <a href={{ path('app_home') }} class="flex items-center h-20 px-6 py-2 sm:px-8 text-white bg-sky-500 rounded-full">
    Page d'accueil
  </a>
  {% if not app.user %}
  <a href={{ path('app_register') }} class="flex items-center h-20 px-6 py-2 sm:px-8 bg-stone-300 rounded-full">Créer un compte</a>
  {% else %}
  <a href={{ path('app_profile') }} class="flex items-center h-20 px-6 py-2 sm:px-8 bg-gray-200 rounded-full">Mon profil</a>
  {% endif %}
</div>
{% endblock %}
