{% block header %}
<div class="flex p-4 justify-between items-center fixed bg-white w-full border-gray-200 border-b-2">
  <div class="flex items-center gap-2 text-2xl w-1/5">
    <div class="logo w-[50px] h-[50px]"></div>
    <a href={{ path('app_home') }} class="font-semibold">Blabla Chambé</a>
  </div>
  <div class="flex w-3/5 justify-evenly text-2xl font-semibold">
    <a href={{ path('app_home') }}>Accueil</p>
    <a href={{ path('app_trajets') }}>Trajets</a>
    <a href={{ path('app_about') }}>À propos</a>
  </div>
  <div class="w-1/5 flex justify-end gap-6">
    <a href={{ path('app_profile') }} class=" flex items-center text-lg border-2 border-black px-4 rounded-lg">
      Se connecter
    </a>
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/ios-filled/50/gender-neutral-user.png"
      alt="gender-neutral-user"
    />
  </div>
</div>
{% endblock header %}
