{% block header %}
<div class="z-40 flex p-4 justify-between items-center fixed bg-white w-full border-gray-200 border-b-2">
  <div class="flex items-center gap-2 text-2xl w-1/5">
    <div class="logo w-[50px] h-[50px]"></div>
    <a href={{ path('app_home') }} class="font-semibold hover:duration-150 hover:text-stone-400">Blabla Chambé</a>
  </div>
  <div class="flex w-2/5 justify-evenly text-2xl font-semibold">
    <a href={{ path('app_home') }} class="hover:duration-200 hover:border-b-4 hover:border-stone-400 hover:text-stone-500">Accueil</p>
    <a href={{ path('app_trajets') }} class="hover:duration-200 hover:border-b-4 hover:border-stone-400 hover:text-stone-500">Trajets</a>
  </div>
  <div class="flex w-2/5 justify-end gap-6">
    {% if not app.user %}
    <a href={{ path('app_login') }} class="hover:duration-200 hover:bg-white hover:text-stone-400 hover:border-2 hover:border-stone-400 flex flex-nowrap h-10 items-center text-lg border-2 border-black px-2 rounded-lg">
      Se connecter
    </a>
    <a href={{ path('app_register') }} class=" hover:duration-200 hover:bg-stone-400 hover:text-white  flex items-center text-white bg-black text-lg px-4 rounded-lg">
      Créer un compte
    </a>
    {% else %}
    <a href={{ path('app_logout') }} class=" hover:duration-200 hover:bg-white hover:text-stone-400 hover:border-2 hover:border-stone-400  flex items-center text-lg border-2 border-black px-4 rounded-lg">
      Se déconnecter
    </a>
    <a href={{ path('app_profile') }} class=" hover:duration-200 hover:bg-stone-400 hover:text-white  flex items-center text-white bg-black text-lg px-4 rounded-lg">
      Mon profil
    </a>
    {% endif %}
    
    {# <img
      width="50"
      height="50"
      src="https://img.icons8.com/ios-filled/50/gender-neutral-user.png"
      alt="gender-neutral-user"
    /> #}
  </div>
</div>
{% endblock header %}
